{% extends "base.html" %} {% block content %}
<!-- code in here to display a list of books-->

<!-- style start -->
<style>
  tr:hover {
    background-color: #ffff99;
  }
</style>
<!-- style end -->

<!-- header start -->
<h2>Book List</h2>
<h3>A list of all books in our collection</h3>
<!-- header end -->

<!-- table infor with header names -->
<table class="table table-striped">
  <thead>
    <tr>
      <th>Book ID</th>
      <th>Title</th>
      <th>Author</th>
      <th>Type</th>
      <th>Year of Publication</th>
      <th>Description</th>
    </tr>
  </thead>
  <!-- table body -->
  <tbody>
    <!-- execute for loop statement and organsied the format -->
    <tr>
      {% for book in booklist %}
    </tr>
    <tr>
      {% for entry in book %}
      <td>{{entry}}</td>
      {% endfor %}
    </tr>
    {% endfor %}
    <!-- for loop end -->
  </tbody>
</table>
<!-- table end -->
{% endblock %}
